<div class="container">
  <div class="section">
    <h4>Services:</h4>
    <div class="row">
      <% @services.each do |service| %>
          <!--   Icon Section   -->
          <div class="col s12 m4">
            <div class="icon-block">
              <!--To be replaced with image-->
              <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
              <!---->
              <h5 class="center"><%= service.service_name %></h5>
              <p class="light"><%= service.service_description %>></p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
